<!-- <form [formGroup]="query">
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input formControlName = "email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Username</label>
        <input formControlName = "name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="username">
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea formControlName = "reason" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <button (click)="onAdd()" class="btn btn-primary">Send</button> -->

  <div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class ="pt-3 font-weight-bold">Add your Query</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="query">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="email">
                                </div>
                            </div>
                            
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="name" type="text" placeholder="name">
                                </div>
                            </div>
                           
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="reason" type="text" placeholder="reason">
                                </div>
                            </div>
                            
                            
                          
                            
                            
                            <button (click)="onAdd()" type = "submit" class="btn btn-primary btn-block mt-4 w-100">Send</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
